.nav
{
    height:     30px;
    width:      60px;
    font-size:  16px;
}

#meta
{
    h1
    {
        font-size:  30px;
    }
    p
    {
        font-size:  20px;
    }
}

#view
{
    h1
    {
        font-size:  30px;
    }
    p
    {
        font-size:  40px;
    }
}

div.data
{
    font-size:  40px;
}

img
{
    width:      720px;
}

@media screen and (orientation: portrait) {
    
    .nav
    {
        height:     80px;
        width:      160px;
        font-size:  50px;
    }
    
    #meta
    {
        h1
        {
            font-size:  50px;
        }
        p
        {
            font-size:  40px;
        }
    }
    
    #view
    {
        h1
        {
            font-size:  50px;
        }
        p
        {
            font-size:  40px;
        }
    }
    
    div.data
    {
        font-size:  50px;
    }
    
    img
    {
        width:      100%;
    }

@media screen and (max-height: 1000px) and (orientation: landscape) {
    
    .nav
    {
        height:     80px;
        width:      160px;
        font-size:  50px;
    }
    
    #meta
    {
        h1
        {
            font-size:  50px;
        }
        p
        {
            font-size:  40px;
        }
    }
    
    #view
    {
        h1
        {
            font-size:  50px;
        }
        p
        {
            font-size:  40px;
        }
    }
    
    div.data
    {
        font-size:  50px;
    }
    
    img
    {
        width:      720px;
    }
