#title
{
    h1
    {
        font-size:  80px;
    }
    p
    {
        font-size:  60px;
    }

    img
    {
        width:      100%;
    }
}
    
.button
{
    text-align: center;
    height:     100px;
    width:      200px;
    font-size:  150;
}
    
#controls
{
    height:     80px;
    width:      100%;
    font-size:  16px;
}

#data
{
    h1
    {
        font-size:  30px;
    }
    p
    {
        font-size:  40px;
    }

    img
    {
        width:      100%;
    }
}

@media only screen and (orientation: portrait)
{
    h1
    {
        font-size:  100px;
    }
    
    #title
    {
        h1
        {
            font-size:  100px;
        }
        p
        {
            font-size:  40px;
        }

        img
        {
            width:      100%;
        }
    }

    #data
    {
        h1
        {
            font-size:  2000px;
        }
        p
        {
            font-size:  40px;
        }
    }
    
    #controls
    {
        height:     210px;
        width:      100%;
        font-size:  10px;
    }
    
    button
    {
        text-align: center;
        height:     100px;
        width:      190px;
        font-size:  40px;
    }
    
    #data
    {
        font-size:  50px;
        
        h1
        {
            font-size:  50px;
        }
        p
        {
            font-size:  40px;
        }
    }
        
    img
    {
        width:      100%;
    }
}

@media screen and (max-width: 1900px) and (orientation: landscape)
{
    #title
    {
        h1
        {
            font-size:  80px;
        }
        p
        {
            font-size:  60px;
        }

        img
        {
            width:      100%;
        }
    }   
    
    .button
    {
        text-align: center;
        height:     100px;
        width:      200px;
        font-size:  150;
    }
    
    #controls
    {
        height:     80px;
        width:      100%;
        font-size:  16px;
    }
    
    #data
    {
        h1
        {
            font-size:  50px;
        }
        p
        {
            font-size:  40px;
        }
    }
    
    img
    {
        width:      800px;
    }
}

@media screen and (max-width: 950px) and (orientation: landscape)
{
    #title
    {
        h1
        {
            font-size:  80px;
        }
        p
        {
            font-size:  60px;
        }

        img
        {
            width:      100%;
        }
    }   
    
    .button
    {
        text-align: center;
        height:     100px;
        width:      200px;
        font-size:  150;
    }
    
    #controls
    {
        height:     80px;
        width:      100%;
        font-size:  16px;
    }
    
    #data
    {
        h1
        {
            font-size:  50px;
        }
        p
        {
            font-size:  40px;
        }
    }
    
    img
    {
        width:      100%;
    }
}

