Package: PROJECT
Version: 1.0-1
Section: devel
Priority: optional
Architecture: all
Maintainer: J. Smith <j@noemail.com>
Installed-Size: 
Depends: 
Suggests: 
Homepage: http://not.exist.org/
Description: 