Package: toonsite-doc
Version: 1.0-1
Section: doc
Priority: optional
Architecture: all
Maintainer: Joe Smith <j@noemail.com>
Installed-Size: 
Homepage: http://not.exist.org/
Description: comic trip website tools docs
